@charset "UTF-8";
@keyframes transform {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.b-icon {
  display: inline-flex;
  height: 1em;
  width: 1em;
  line-height: 1em;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.b-icon svg.loading {
  animation: transform 1s linear infinite;
}

.b-tree {
  display: inline-block;
  width: 100%;
}

.b-tree-node {
  padding: 5px 0;
  font-size: 16px;
}
.b-tree-node__label {
  cursor: pointer;
}

.b-tree-node:not(.is-disabled) .b-tree-node__label {
  cursor: pointer;
  display: flex;
  flex: 1;
}
.b-tree-node.is-disabled .b-tree-node__label {
  cursor: not-allowed;
  display: flex;
  flex: 1;
}
.b-tree-node:hover {
  background: rgb(195, 195, 234);
}
.b-tree-node__expand-icon {
  display: inline-block;
  vertical-align: middle;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in;
  cursor: pointer;
}
.b-tree-node__expand-icon.expanded {
  transform: rotate(90deg);
}
.b-tree-node__expand-icon.is-leaf {
  fill: transparent;
  cursor: default;
}

.b-tree-node.is-selected {
  background-color: aqua;
}

.b-tree-node__content {
  display: flex;
}

.b-vl {
  overflow-y: scroll;
  position: relative;
}
.b-vl__scroll-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.b-button {
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  outline: none;
  border: #fafafa;
  border-radius: 5px;
  user-select: none;
  min-height: 40px;
  line-height: 1;
  vertical-align: middle;
  padding: 0 20px;
}
.b-button--medium {
  padding: 0 20px;
}

.b-button--small {
  padding: 0 18px;
}

.b-button--large {
  padding: 0 25px;
}

.b-button.is-disabled, .b-button.is-disabled:hover, .b-button.is-disabled:focus {
  cursor: not-allowed;
}

.b-button.is-round {
  border-radius: 20px;
}

.b-button--primary {
  color: #ffffff;
  background: #409eff;
  border-color: #409eff;
}

.b-button--success {
  color: #ffffff;
  background: #67c23a;
  border-color: #67c23a;
}

.b-button--warning {
  color: #ffffff;
  background: #e6a23c;
  border-color: #e6a23c;
}

.b-button--danger {
  color: #ffffff;
  background: #f56c6c;
  border-color: #f56c6c;
}

.b-button--info {
  color: #ffffff;
  background: #909399;
  border-color: #909399;
}

.b-input {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.b-input__wrapper {
  box-sizing: border-box;
  display: inline-flex;
  border: 1px solid #ccc;
  flex: 1;
  align-items: center;
  position: relative;
  vertical-align: middle;
}

.b-input__prefix {
  display: inline-flex;
  margin-left: 5px;
}

.b-input__suffix {
  display: inline-flex;
  margin-right: 5px;
}

.b-input__inner {
  display: inline-flex;
  outline: none;
  border: none;
  background: none;
  appearance: none;
  padding: 0 10px;
  width: 100%;
  height: 30px;
}

.b-input-group__append {
  display: inline-flex;
  padding: 0 10px;
  line-height: 32px;
  vertical-align: middle;
  margin-left: -1px;
  box-shadow: 0 0 0 1px #ccc inset, 0 1px 0 0 #ccc inset, 0 -1px 0 0 #ccc inset;
}

.b-input-group__prepend {
  display: inline-flex;
  padding: 0 10px;
  line-height: 32px;
  vertical-align: middle;
  box-shadow: 1px 0 0 0 #ccc inset, 0 1px 0 0 #ccc inset, 0 -1px 0 0 #ccc inset;
}

.b-form-item {
  display: flex;
}
.b-form-item__label {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 12px;
  height: 32px;
  line-height: 32px;
}

.b-form-item__content {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.b-form-item__error {
  color: #f56c6c;
  font-size: 12px;
}

.b-drawer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
}
.b-drawer__content {
  position: absolute;
  background-color: #fff;
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
}
.b-drawer__content .drawerHeader {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  color: #333;
}
.b-drawer__content .drawerHeader i {
  cursor: pointer;
}
.b-drawer__content .drawerBody {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  flex: 1;
  overflow-y: auto;
}

.isShowDrawerMask {
  background-color: rgba(0, 0, 0, 0.3);
}

/*
  下方是抽屉过渡动画
*/
.topMove-enter-active,
.topMove-leave-active {
  transition: all 0.36s ease-in-out;
  transform: translateY(0%);
  opacity: 1;
}

.topMove-enter,
.topMove-leave {
  transform: translateY(-100%);
  opacity: 0;
}

.topMove-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}

.bottomMove-enter-active,
.bottomMove-leave-active {
  transition: all 0.36s ease-in-out;
  transform: translateY(0);
  opacity: 1;
}

.bottomMove-enter,
.bottomMove-leave {
  transform: translateY(100%);
  opacity: 0;
}

.bottomMove-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

.leftMove-enter-active,
.leftMove-leave-active {
  transition: all 0.36s ease-in-out;
  transform: translateX(0%);
  opacity: 1;
}

.leftMove-enter,
.leftMove-leave {
  transform: translateX(-100%);
  opacity: 0;
}

.leftMove-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.rightMove-enter-active,
.rightMove-leave-active {
  transition: all 0.36s ease-in-out;
  transform: translateX(0);
  opacity: 1;
}

.rightMove-enter,
.rightMove-leave {
  transform: translateX(100%);
  opacity: 0;
}

.rightMove-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.Scale {
  animation: dScaleShow 0.28s ease-in;
}

@keyframes dScaleShow {
  0% {
    transform: scale(0);
    opacity: 0 !important;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5 !important;
  }
  100% {
    transform: scale(1);
    opacity: 1 !important;
  }
}
.Translate {
  animation: dTranslateShow 0.28s ease-in;
  -webkit-animation: dTranslateShow 0.28s ease-in;
}

@keyframes dTranslateShow {
  0% {
    transform: translateY(-100px);
    opacity: 0 !important;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }
  50% {
    transform: translateY(-50px);
    opacity: 0.5 !important;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
.Rotate {
  animation: dRotateShow 0.28s ease-in;
  -webkit-animation: dRotateShow 0.58s ease-in;
}

@keyframes dRotateShow {
  0% {
    transform: Rotate(120deg);
    opacity: 0 !important;
    -webkit-transform: Rotate(120deg);
    -moz-transform: Rotate(120deg);
    -ms-transform: Rotate(120deg);
    -o-transform: Rotate(120deg);
  }
  50% {
    transform: Rotate(240deg);
    opacity: 0.5 !important;
    -webkit-transform: Rotate(240deg);
    -moz-transform: Rotate(240deg);
    -ms-transform: Rotate(240deg);
    -o-transform: Rotate(240deg);
  }
  100% {
    transform: Rotate(360deg);
    opacity: 1 !important;
    -webkit-transform: Rotate(360deg);
    -moz-transform: Rotate(360deg);
    -ms-transform: Rotate(360deg);
    -o-transform: Rotate(360deg);
  }
}
.b-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  user-select: none;
  z-index: 999999;
}
.b-modal .b-modal__body {
  display: table-cell;
  width: 100vw;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
}
.b-modal .b-modal__body .b-modal__box {
  display: inline-block;
  padding: 24px 24px 12px 24px;
  background: white;
  text-align: left;
}
.b-modal .b-modal__body .b-modal__header {
  display: flex;
  justify-content: space-between;
  z-index: 2147483647;
}
.b-modal .b-modal__body .b-modal__title {
  margin: 0;
  color: black !important;
  line-height: 30px;
  width: calc(100% - 30px);
}
.b-modal .b-modal__body .b-modal__close {
  color: black;
  cursor: pointer;
}
.b-modal .b-modal__body .b-modal__footer {
  text-align: right;
}

.b-pagination {
  display: flex;
}
.b-pagination button {
  border: none;
  background-color: #ffffff;
}

.b-pager {
  list-style: none !important;
  display: flex;
  padding-left: 0;
}
.b-pager li {
  margin-top: 0 !important;
  padding: 0 4px;
  cursor: pointer;
}
.b-pager li.current {
  color: rgb(96, 96, 255);
}

.b-avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  color: white;
  background-color: white;
  width: 40px;
  height: 40px;
  font-size: 14px;
}
.b-avatar > img {
  display: block;
  height: 100%;
}
.b-avatar--circle {
  border-radius: 50%;
}

.b-avatar--square {
  border-radius: 4px;
}

.b-avatar--icon {
  font-size: 14px;
}

.b-avatar--large {
  font-size: 14px;
  width: 56px;
  height: 56px;
}

.b-avatar--small {
  font-size: 14px;
  width: 24px;
  height: 24px;
}

.b-dropdown {
  display: inline-block;
  padding: 10px;
}
.b-dropdown__link {
  padding: 5px;
  border: solid 1px skyblue;
  border-radius: 10% 10%;
  text-align: center;
  font-size: 16px;
}

.b-dropdown .v-enter-active,
.b-dropdown .v-leave-active {
  transition: opacity 0.5s ease;
}
.b-dropdown .v-enter-from,
.b-dropdown .v-leave-to {
  opacity: 0;
}

.b-dropdown-menu {
  text-align: center;
  border: solid 1px skyblue;
  font-size: 14px;
  margin-top: 10px;
}

.b-dropdown-item {
  padding: 0 10px;
}
.b-dropdown-item:hover {
  background-color: skyblue;
  color: white;
}
.b-dropdown-item.is-disabled {
  cursor: not-allowed;
  color: gray;
}

.b-menu {
  background-color: rgb(240, 240, 240);
  display: flex;
  height: 50px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(167, 167, 167);
}
.b-menu .v-enter-active,
.b-menu .v-leave-active {
  transition: opacity 0.5s ease;
}
.b-menu .v-enter-from,
.b-menu .v-leave-to {
  opacity: 0;
}

.b-menu-item {
  display: block;
  line-height: 50px;
  padding: 0 20px;
}
.b-menu-item:hover {
  color: rgb(42, 158, 208);
  border-bottom: 2px solid rgb(42, 158, 208);
}
.b-menu-item.is-disabled {
  cursor: not-allowed;
  color: gray;
}

.b-sub-menu__title {
  line-height: 50px;
  padding: 0 20px;
}
.b-sub-menu__title:hover {
  color: rgb(42, 158, 208);
  border-bottom: 2px solid rgb(42, 158, 208);
}
.b-sub-menu__title.is-disabled {
  cursor: not-allowed;
  color: gray;
}

.b-sub-menu__submenu {
  z-index: 999;
  background-color: #fff;
  display: block;
  margin-top: 10px;
  box-shadow: 1px 1px 1px 1px rgb(180, 179, 179);
  font-size: 14px;
}

.b-popover {
  position: relative;
  background-color: aqua;
}
.b-popover__scroll-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* 
.myDrawerWrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;

}
.myDrawerWrap .drawerContent {
  position: absolute;
  background-color: #fff;
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;


}

.myDrawerWrap .drawerContent .drawerHeader {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  color: #333;
}
.myDrawerWrap .drawerContent .drawerHeader i {
  cursor: pointer;
}

.myDrawerWrap .drawerContent .drawerBody {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  flex: 1;
  overflow-y: auto;
}

.isShowDrawerMask {
  background-color: rgba(0, 0, 0, 0.3);
}
/*
  下方是抽屉过渡动画的重点
*/

/* .topMove-enter-active,
.topMove-leave-active {
  transition: all 0.36s ease-in-out;
  transform: translateY(0%);
  opacity: 1;
}
.topMove-enter,
.topMove-leave {
  transform: translateY(-100%);
  opacity: 0;
}
.topMove-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}

.bottomMove-enter-active,
.bottomMove-leave-active {
  transition: all 0.36s ease-in-out;
  transform: translateY(0);
  opacity: 1;
}
.bottomMove-enter,
.bottomMove-leave {
  transform: translateY(100%);
  opacity: 0;
}
.bottomMove-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

.leftMove-enter-active,
.leftMove-leave-active {
  transition: all 0.36s ease-in-out;
  transform: translateX(0%);
  opacity: 1;
}
.leftMove-enter,
.leftMove-leave {
  transform: translateX(-100%);
  opacity: 0;
}
.leftMove-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.rightMove-enter-active,
.rightMove-leave-active {
  transition: all 0.36s ease-in-out;
  transform: translateX(0);
  opacity: 1;
}
.rightMove-enter,
.rightMove-leave {
  transform: translateX(100%);
  opacity: 0;
}
.rightMove-leave-to {
  transform: translateX(100%);
  opacity: 0;
} */ 
