@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(button) {
  // BEM规范
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  outline: none;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  user-select: none;
  min-height: 40px;
  line-height: 1;
  vertical-align: middle;
  padding: 0 20px;
  &:hover,
  &:focus,
  &:active {
    opacity: 0.7;
    outline: none;
  }

  @include m(medium) {
    padding: 10px 20px;
    font-size: 15px;
  }

  @include m(small) {
    padding: 5px 10px;
    font-size: 10px;
  }

  @include m(large) {
    padding: 15px 30px;
    font-size: 20px;
  }

  @include when(disabled) {
    opacity: 0.5;
    // 针对不同类型处理
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }

  @include when(round) {
    border-radius: 20px;
  }

  @include m(primary) {
    //渲染不同类型的button
    @include button-variant($color-white, $color-primary, $color-primary);
  }
  @include m(default) {
    @include button-variant(
      $color-black,
      $color-default,
      $color-default-border
    );
  }

  @include m(success) {
    @include button-variant($color-white, $color-success, $color-success);
  }

  @include m(warning) {
    @include button-variant($color-white, $color-warning, $color-warning);
  }

  @include m(danger) {
    @include button-variant($color-white, $color-danger, $color-danger);
  }

  @include m(info) {
    @include button-variant($color-white, $color-info, $color-info);
  }
}
