@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(dropdown) {
  @include e('link') {
    // background-color: pink;
    padding: 5px;
    border: solid 1px skyblue;
    text-align: center;
    font-size: 16px;
    border-radius: 20%;
  }
  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.5s ease;
  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }
}

@include b('dropdown-menu') {
  border: solid 1px skyblue;
  font-size: 14px;
  margin-top: 10px;
}

@include b('dropdown-item') {
  &:hover {
    background-color: skyblue;
    color: white;
  }
  &.is-disabled {
    cursor: not-allowed;
    color: gray;
  }
}
